@model InterestFinder.ViewModels.InterestDetailData

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Interest.InterestName)</h2>

<div>
    <img class="img-rounded" src="~/Res/@Html.DisplayFor(model => model.Interest.ImageURL)" height="170" width="150" />
</div>

@using (Html.BeginForm("CreatePost", "Post", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PostToCreate.InterestID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostToCreate.InterestID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PostToCreate.InterestID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostToCreate.HeaderText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostToCreate.HeaderText, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PostToCreate.HeaderText, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostToCreate.ContentText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostToCreate.ContentText, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PostToCreate.ContentText, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostToCreate.TimePosted, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostToCreate.TimePosted, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PostToCreate.TimePosted, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="posts">
    <h4>Posts</h4>
    <hr />
    <dl class="dl-horizontal">
        @for (int i = 0; i < Model.Posts.Count; i++)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Posts[i].HeaderText)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Posts[i].HeaderText)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Posts[i].ContentText)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Posts[i].ContentText)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Posts[i].Sender.Nickname)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Posts[i].Sender.Nickname)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Interest.InterestID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
