@model IEnumerable<InterestFinder.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InterestID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeaderText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimePosted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InterestID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HeaderText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContentText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimePosted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PostID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PostID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PostID })
        </td>
    </tr>
}

</table>
